.do-header{
    background-color: #121f30;
    color: white;
    margin: auto;
}
.do-faq{
    color: #22c022;
}
.do-row1{
    background-color: #34d0e7;
}
.do-row2{
    background-color:#fc753f;
}
.do-row3{
    background-color:#ce4980;
}
.do-body{
    max-width: 700px;
    margin: auto;
}
.do-logo{
    max-width: 50px;
}
.do-link{
    color: white;
    text-decoration: none;
    display: block;
 }
hr.style1{
    border-top: 1px solid #c3c5d0;
}
hr{
    background-color: #121f30;
    color: white;
}
.do-row21{
    border-top: 1px solid #8c8b8b;
}

.do-fonts{
    font-size: 18px;
}
.do-start-pic{
    padding: 100px;
    max-height: 800px;
    max-width: 300px;
    border: 5px dotted #34d0e7 ;
    border-radius: 60%;
    background-color: #34d0e7;
    margin: auto;


}
.do-row1 .do-pic1{
    position: absolute;
    max-width: 100%;
}
.do-row1 .do-text1{
    position: relative;
    padding-left: 100px;
}
.do-row2 .do-pic1{
    position: absolute;
    max-width: 100%;
}
.do-row2 .do-text1 {
    position: relative;
    padding-left: 100px;
}
.do-row3 .do-pic1{
    position: absolute;
    max-width: 100%;
}
.do-row3 .do-text1{
    position: relative;
    padding-left: 100px;
}
@media screen and (max-width: 480px) {
    #box > .bximg {
        width: 60px;
        height: 60px;
    }
}
.d-inline-block{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
footer{
    background-color: #121f30;
    color: white;
    padding-top: 25px;

}
#digital-clock {
    width: 80%;
    font-size: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
}
.red-dot {
    color: #ffffff;
}
.do-stop-clock {
    font-size: 70px;
    margin-bottom: 20px;
}
.do-stop-text{
    font-size:15px;
    padding: 5px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}